[submodule "microservices/phone-number-validator"]
	path = microservices/phone-number-validator
	url = https://github.com/cnourrcier/phone-number-validator.git
[submodule "microservices/statistics-calculator"]
	path = microservices/statistics-calculator
	url = https://github.com/cnourrcier/statistics-calculator.git
[submodule "microservices/roman-numeral-converter"]
	path = microservices/roman-numeral-converter
	url = https://github.com/cnourrcier/roman-numeral-converter.git
[submodule "microservices/decimal-to-binary-converter"]
	path = microservices/decimal-to-binary-converter
	url = https://github.com/cnourrcier/decimal-to-binary-converter.git
[submodule "microservices/todo-app"]
	path = microservices/todo-app
	url = https://github.com/cnourrcier/todo-app.git
[submodule "microservices/date-formatter"]
	path = microservices/date-formatter
	url = https://github.com/cnourrcier/date-formatter.git
[submodule "microservices/palindrome-checker"]
	path = microservices/palindrome-checker
	url = https://github.com/cnourrcier/palindrome-checker.git
[submodule "microservices/spreadsheet"]
	path = microservices/spreadsheet
	url = https://github.com/cnourrcier/spreadsheet.git
[submodule "games/rock-paper-scissors"]
	path = games/rock-paper-scissors
	url = https://github.com/cnourrcier/rock-paper-scissors.git
[submodule "games/rpg-dragon-repeller"]
	path = games/rpg-dragon-repeller
	url = https://github.com/cnourrcier/rpg-dragon-repeller.git
[submodule "games/snake"]
	path = games/snake
	url = https://github.com/cnourrcier/snake.git
[submodule "microservices/countdown-timer"]
	path = microservices/countdown-timer
	url = https://github.com/cnourrcier/countdown-timer.git
[submodule "microservices/days-between-dates-calc"]
	path = microservices/days-between-dates-calc
	url = https://github.com/cnourrcier/days-between-dates-calc.git
[submodule "microservices/cash-register"]
	path = microservices/cash-register
	url = https://github.com/cnourrcier/cash-register.git
[submodule "games/platformer-game"]
	path = games/platformer-game
	url = https://github.com/cnourrcier/platformer-game.git
