:root {
    --primary-color: #007acc;
    --divider-color: hsl(204, 80%, 50%);
    --primary-color-hover: #005f99;
    --background-color: #fbfbfb;
    --text-color: #333;
    --sidebar-bg-color: #f9f9f9;
    --footer-bg-color: #333;
    --footer-text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

html {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    overflow-y: scroll;
}

body {
    /* background-color: var(--background-color); */
    background: linear-gradient(to left, hsl(0, 65%, 83%), hsl(225, 83%, 84%));
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3 {
    margin-top: 0;
    transition: color 0.3s;
}

header h1 {
    margin: 0;
    font-size: 24px;
    animation: fadeIn 1s ease-in-out;
    transition: color 0.3s, transform 0.3s;
}

header h1:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s, transform 0.3s;
}

a:hover {
    color: var(--primary-color-hover);
    transform: scale(1.05);
}

main p {
    margin-bottom: 0;
}

.container {
    display: grid;
    margin: 0.5rem 4rem 2rem 4rem;
    grid-template-columns: 3fr 5fr 4fr;
    grid-template-rows: 3rem;
    grid-gap: 2rem 1rem;
    grid-template-areas:
        "logo menu menu"
        "content content sidebar"
        "projects projects projects";
    flex: 1;
}

.container,
.footer {
    position: relative;
    z-index: 1;
}

.logo {
    grid-area: logo;
    align-self: center;
}

.main-menu {
    grid-area: menu;
    align-self: center;
    justify-self: end;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.main-menu__item {
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.main-menu__item-divider {
    height: 22px;
    width: 1.5px;
    border-radius: 50%;
    background-color: var(--divider-color);
}

.content-area {
    grid-area: content;
    animation: fadeInUp 1s ease-in-out;
}

.sidebar {
    grid-area: sidebar;
    padding: 1rem;
    /* background-color: var(--sidebar-bg-color); */
    background: inherit;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .sidebar::before {
    content: '';
    background: inherit;
    box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.2);
    filter: blur(10px);
} */

.projects-wrapper {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease-in-out;
}

.projects-header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eaeaea;
    margin-bottom: 2rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 2rem;
    max-width: 800px;
    width: 100%;
    animation: fadeInUp 1s ease-in-out;
}

.projects-section-header {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    cursor: pointer;
    color: var(--primary-color);
    transition: color 0.3s, transform 0.3s;
}

.projects-section-header:hover {
    color: var(--primary-color-hover);
    transform: scale(1.05);
}

.projects-section-header i {
    transition: transform 0.3s;
}

.projects-section-header i.up {
    transform: rotate(180deg);
}


.project {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-radius: 0.625rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project p {
    padding: 1rem;
}

.project img {
    width: 220px;
    height: 170px;
    object-fit: cover;
}

#microservices,
#games,
#api-projects {
    display: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 1rem 2rem;
    width: 100%;
}

.social-links {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.social-links a {
    color: var(--footer-text-color);
    transition: color 0.3s;
}

.social-links a:hover {
    color: var(--primary-color);
}

@media all and (max-width: 992px) {
    .container {
        margin: 0 1rem;
    }
}

@media all and (max-width: 768px) {
    .container {
        grid-template-areas:
            "logo menu menu"
            "content content content"
            "sidebar sidebar sidebar"
            "projects projects projects"
    }

    html {
        font-size: 14px;
    }
}

@media all and (max-width: 660px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "logo"
            "menu"
            "content"
            "sidebar"
            "projects"
    }

    .main-menu {
        justify-self: start;
    }

    .projects {
        max-width: 300px;
    }

    .project {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .project img {
        width: 100%;
        height: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}