* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d7ffbe;
    font-family: Arial, sans-serif;
}

#container {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#timer {
    font-size: 3em;
    margin: 20px 0;
    color: #515151;
}

#minutesInput {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 140px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startButton {
    background-color: #28a745;
    color: #fff;
}

#startButton:hover {
    background-color: #218838;
}

#pauseButton {
    background-color: #ffc107;
    color: #fff;
}

#pauseButton:hover {
    background-color: #e0a800;
}

#resumeButton {
    background-color: #007bff;
    color: #fff;
}

#resumeButton:hover {
    background-color: #0056b3;
}

#resetButton {
    background-color: #dc3545;
    color: #fff;
}

#resetButton:hover {
    background-color: #c82333;
}